{% extends 'base.html' %}
{% block content %}

<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <h2 class="my-5 py-5 text-center">WE ARE STILL UPDATING INFORMATION ABOUT THIS PAGE !
    </h2>
    <p class="my-5 text-center">Your visit is highly appreciated.</p>

</div>
<div class="container mb-2">
    <a href="{% url 'store:item-list' %}" class="btn btn-success">Visit Store</button></a>
</div>

{% include 'live_chat.html' %}

{% endblock content %}