{% extends 'base.html' %} {% block content %}
<main class="white background-gradient" style="height: auto;">
  <section>
    <div class="container p-3">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
          <img src="{{ music.audio_img.url }}" alt="Art-work" class="img-fluid" />
          <hr />
          <h4><u>{{ object.name }}</u></h4>
          <audio controls id="aud">
            <source src="{{ music.audio_file.url }}" type="audio/mp3" />
            Your browsers does not support audio tag.
          </audio>
          <div class="container">
            <button type="button" onclick="startLoop()">Loop</button>
            <button type="button" onclick="stopLoop()">Stop Loop</button>
            <button type="button" onclick="checkLoop()">Check Loop</button>
            <hr />
          </div>
          <p>{{ music.desc | linebreaks | urlize }}</p>
          <a href="{% url 'player:audio-list' %}"><button class="btn btn-primary" title="Click to go back">&laquo;
              Back</button></a>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
</main>

{% include 'live_chat.html' %}

<script>
  let x = document.getElementById("aud");
  function startLoop() {
    x.loop = true;
    x.load();
  }
  function stopLoop() {
    x.loop = false;
    x.load();
  }
  function checkLoop() {
    alert(x.loop);
  }
</script>
{% endblock content %}