{% extends 'base.html' %} {% block content %}
<main class="jumbotron">
  <section>
    <div class="container w-75">
      <p class="search-gradient rounded-lg p-2">{{ video.name }}</p>
      <video style="width: 100%; height: auto; position:relative;" id="vid" controls>
        <source src="{{ video.video_file.url }}" type="video/mp4" />
        Your browsers does not support video tag.
      </video>
      <div>
        <button type="button" onclick="startLoop()">Loop</button>
        <button type="button" onclick="stopLoop()">Stop Loop</button>
        <button type="button" onclick="checkLoop()">Check Loop</button>
        <hr />
      </div>
      <p>{{ video.desc | linebreaks | urlize }}</p>
      <a href="{% url 'player:video-list' %}"><button class="btn btn-primary">&laquo; Back</button></a>
    </div>
  </section>
</main>

<script>
  let x = document.getElementById("vid");
  function startLoop() {
    x.loop = true;
    x.load();
  }
  function stopLoop() {
    x.loop = false;
    x.load();
  }
  function checkLoop() {
    alert(x.loop);
  }
</script>

{% include 'live_chat.html' %}

{% endblock content %}