{% extends 'base.html' %} {% block content %}
<main class="white" style="height: auto;">
  <header style="text-align: center;" class="p-5 search-gradient">
    WELCOME TO WORLDGIST VIDEOS
  </header>
  <br />
  <div class="container h-auto">
    <a href="{% url 'blog:post-list' %}"
      ><button class="btn btn-primary">&laquo;</button></a
    >
  </div>
  <hr />

  <section>
    {% for video in object_list %}
    <a href="{% url 'player:video-detail' pk=video.id %}">
      <div class="container">
        <p>{{ video.name }}</p>
        <video
          style="width: 25%; height: auto;"
          autoplay
          muted
          loop="1"
          class="rounded-lg"
        >
          <source src="{{ video.video_file.url }}" type="video/mp4" />
          Your browsers does not support video tag.
        </video>
      </div>
    </a>
    {% empty %}
    <div class="container alert alert-info">No videos uploaded.</div>
    {% endfor %}
  </section>
  <!-- Pagination section -->
  <div class="container">
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-left">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1"
            aria-disabled="true"
            >&laquo; Prev</a
          >
        </li>
        {% endif %}
        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            >Next &raquo;</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</main>
{% endblock content %}
