{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<title>{% block title %} | Add Comment {% endblock title %}</title>

<div class="jumbotron">
  <div class="row card-body">

    <div class="col-md-3"></div>

    <div class="col-md-6 shadow-lg">
      <p class="card-title">
      <h5>
        Thank you for beautiful comment!</h5>
      </p>

      <form action="" method="POST" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %} {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Post</button>
        <button type="reset" class="btn btn-warning">Reset</button>
        <a href="{% url 'blog:post-detail' slug=nav_post.slug %}">
          <button type="button" class="btn btn-primary">&laquo;</button></a>
      </form>
    </div>

  </div>
</div>

{% endblock content %}