{% extends 'base.html' %} {% block content %}
<div class="row shadow p-3 mb-3 bg-info rounded">
  <div class="col">
    {% for post in post_list %}
    <div class="card">
      <div class="card-header">Worldgist News</div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
          <small>{{ post.date_created }}</small>
        </p>
        <div class="text-content">
          <p class="card-text">
            {{ post.content | slice:":150" | linebreaks }}&raquo;
          </p>
        </div>
        <!-- This is the image field -->
        {% if post.image %}
        <img
          src="{{ post.image.url }}"
          alt="Does'nt Exis!"
          class="img-fluid rounded-lg border border-success"
        />
        {% endif %}
        <!-- the image field ends here  -->
        <a href="{% url 'blog:post-detail' post.slug %}" class="btn btn-primary"
          >Read more</a
        >
        <!-- the below counts the comments in a post -->
        <a
          href=""
          title="Total comments"
          class="border border-primary rounded-lg"
          >Comments:({{ post.my_approved_comments.count }})</a
        >
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
      <br />
      <br />
      {% if user.is_authenticated %}
      <h4 class="white">Hello! {{ user.username }}</h4>
      <!-- This section goes fot User history -->
      <a
        href="{% url 'tracker:history-list' %}"
        class="white"
        title="About the user page history"
        >Histories</a
      ><br />
      <hr />
      <a href="{% url 'accounts:logout' %}" class="btn btn-warning">Logout</a>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="btn btn-success">Login</a>
      <a href="{% url 'accounts:register' %}" class="btn btn-success"
        >Sign Up</a
      >
      {% endif %}
    </div>
  </div>
</div>
<!-- Pagination section -->
<div class="container-fluid">
  {% if is_paginated %}
  <nav aria-label="Page navigation example container-fluid">
    <ul class="pagination justify-content-left">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}"
          tabindex="-1"
          aria-disabled="true"
          >&laquo; Prev</a
        >
      </li>
      {% endif %}
      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
          >Next &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
<!-- for convertKit email list -->
<div class="container-fluid">
  <script
    async
    data-uid="d56fdb3798"
    src="https://awesome-innovator-8071.ck.page/d56fdb3798/index.js"
  ></script>
</div>
<!-- convertKit ends here -->
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
<!--  -->
{% endblock content %}
