{% extends 'base.html' %} {% block content %}
<!-- the search box -->
<div class="container-fluid p-2 search-gradient">
  <form
    action="{% url 'blog:search-query' %}"
    method="GET"
    class="form-white ml-2"
  >
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <label for="label"><i class="far fa-arrow-alt-circle-right"></i></label></div>
          <input type="search" name="qs" id="label" placeholder="Search" required />
          <button type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
</div>

<div class="row shadow p-3 mb-3 background-gradient rounded">
  <div class="col">
    {% for post in post_list %}
    <br />
    <div class="card">
      <div class="card-header">Worldgist News</div>
      <div class="card-body">
        <h5 class="card-title border border-light p-2 text-primary">
          {{ post.title }}
        </h5>
        <p class="card-text">
          <small>{{ post.date_created }}</small>
        </p>
        <div class="text-content">
          <p class="card-text">
            {{ post.content | slice:":150" | linebreaks | urlize }}&raquo;
          </p>
        </div>
        <!-- This is the image field -->
        {% if post.image %}
        <img
          src="{{ post.image.url }}"
          alt="Does'nt Exis!"
          class="img-fluid rounded-lg border border-success"
        />
        {% endif %}
        <!-- the image field ends here  -->
        <a
          href="{% url 'blog:post-detail' slug=post.slug %}"
          class="btn btn-primary"
          >Read more</a
        >
        <!-- the below counts the comments in a post -->
        <a
          href=""
          title="Total approved comments"
          class="border border-primary rounded-lg"
          >Comments:({{ post.my_approved_comments.count }})</a
        >
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col">
      <br />
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
      <br />
      <br />
      {% if user.is_authenticated %} 
      <!--  -->
        {% if user.profile.image %}
        <div class="media">
          <img
            src="{{ user.profile.image.url }}"
            alt="Profile-img"
            class="rounded-circle img-fluid mr-4"
            id="image-size"
          />
        </div>
        {% endif %}
        <h4 class="white">Hello! {{ user.username }}</h4>
        <hr />
        <!-- This section goes fot User history -->
        <a
          href="{% url 'tracker:history-list' %}"
          class="white"
          title="About the user visited page history"
          >Histories</a
        >
        <br />
        <hr />
        <a href="{% url 'accounts:logout' %}" class="btn btn-outline-warning"
          >Logout</a
        >
        {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-success">Login</a>
        <a href="{% url 'accounts:register' %}" class="btn btn-success"
          >Sign Up</a
        ><br />
        <hr />
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary mt-2" style="width: 180px;">
          <i class="fab fa-facebook-f fa-fw"></i>Facebook Login
        </a><br />
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger mt-2" style="width: 180px;">
          <i class="fab fa-google fa-fw"></i> Google Login &nbsp;
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Pagination section -->
  <div class="container-fluid">
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-left">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1"
            aria-disabled="true"
            >&laquo; Prev</a
          >
        </li>
        {% endif %}
        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            >Next &raquo;</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <div class="container rounded-circle" id="animation">
    <marquee behavior="async" direction="rtl"
      ><h2>
        <a class="nav-link" href="{% url 'reaction:reaction-list' %}"
          ><i>Click Me!... We Love To Here From You!</i></a
        >
      </h2></marquee
    >
  </div>
  <!-- for convertKit email list -->
  <div class="container-fluid">
    <script
      async
      data-uid="d15840a258"
      src="https://awesome-innovator-8071.ck.page/d15840a258/index.js"
    ></script>
  </div>
  <!-- convertKit ends here -->
  {% block footer %}{% include 'footer.html' %}{% endblock footer %}
  <!--  -->
  {% endblock content %}
</div>
