{% extends 'base.html' %} {% block content %}
<div class="container responsive mx-auto w-75 rounded shadow-lg" id="height">
  <div class="row w-50 mt-3 ml-auto mr-auto">
    <div class="col">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Username:"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password:"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <!-- Checkbox remember key -->
        <input type="checkbox" name="remember_me" id="me" value="true" />
        <label for="me" class="white-color">Remember me</label>
      </form>
      &nbsp;<br /><a
        href="{% url 'accounts:password_reset' %}"
        class="white-color rounded-sm"
        >Forgot Password</a
      >
    </div>
  </div>
  <br />
  <div class="container w-50 ml-auto mr-auto">
    <h3>
      <a href="{% url 'accounts:register' %}" class="white-color"
        >Don't have an account: Sign Up</a
      >
    </h3>
  </div>

  <br />
  <div class="container w-50 ml-auto mr-auto">
    <a href="/"
      ><button type="submit" class="btn btn-primary">Home page</button></a
    >
  </div>
  <div class="white-color">
    {% for message in messages %}
    <h4><i>{{ message }}</i></h4>
    {% endfor %}
  </div>
</div>
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
<!--  -->
{% endblock content %}
