{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 bg-light shadow shadow-lg rounded pt-2 mb-3 mt-3">
      <div class="container ml-4">
        <kbd class="p-2 rounded-lg">
          You Are Welcome To Worldgist Please Complete Your Credentials.
        </kbd>
      </div>
      <br />
      <form action="{% url 'accounts:register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name:" name="first_name" required autofocus />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Last Name:" name="last_name" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username:" name="username" required />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email@gmail.com"
            name="email" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password:" name="password" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password:" name="confirm_password"
            required />
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <button type="reset" class="btn btn-outline-primary">Reset</button>
      </form>
      <br />
      <h3>
        <a href="{% url 'accounts:login' %}">Already have an account: Login</a>
      </h3>
      <a href="/"><button type="submit" class="btn btn-primary">Home page</button></a>
      <br /><br />
      <div class="text-secondary text-center rounded-lg alert alert-danger">
        {% for message in messages %}
        <h4><i>{{ message }}</i></h4>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
<!--  -->
{% endblock content %}