{% extends 'base.html' %} {% block content %}

<title>{% block title %} | History {% endblock title %}</title>
<div class="container-fluid jumbotron">
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8 bg-light shadow-lg p-5 rounded-lg">
      <h2 class="text-center p-3 shadow-lg w-50 offset-3">History Page</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Page</th>
            <th scope="col">Viewed_On</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for history in object_list %}
          <tr>
            <td>
              {% if history.content_object %}
              <a href="{% url 'blog:post-detail' slug=history.content_object.slug %}"
                title="Back to the post">{{ history.content_object }}
                >
                {% endif %}
            </td>
            <td>{{ history.time_viewed }}</td>
            <td>
              <a href="{% url 'tracker:history-delete' page_id=history.pk %}"
                class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <a href="/" class="btn btn-primary offset-2">Home page</a>
</div>


{% include 'live_chat.html' %}

{% endblock content %}