* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#my-sticky{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.navbar__logo {
    max-width: 50px;
    min-height: 60px;
    border-radius: 18px;
    box-shadow: 2px 0px 2px;
    margin-left: 10px;
}
.my_navbar__header {
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border-bottom: 2px outset  hsl(182, 89%, 70%);
}
.header__btn{
    border: 3px solid rgb(211, 158, 13);
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
    transition: all 2s linear;
    /* For the @medie */
    display: none;
}
.header__btn:hover, .header__btn:active {
    transform: scale(1.1, 1.1);
    outline: none;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    margin: 0.3rem;
    background-color: rgb(211, 158, 13);
    border-radius: 5px;
    transition: all 1s ease;
}
/* for the changeX class effect */
.btnChange .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
    background: rgb(250, 50, 10);
}
.btnChange .bar2 {
    opacity: 0;
}
.btnChange .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
    background: rgb(250, 50, 10);
}

.navbar__links {
    list-style-type: none;
    transition: all 1s ease;
    /* For the collapse */
    height: 0;
    overflow: hidden;
}
/* now let's add the navbar collapse */
.navBarCollapse {
    height: auto;
}

.navbar__single_link {
    display: none;
    background-color: #69747c;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    transition: all 2s ease;
}
.navbar__single_link:hover {
    text-decoration: none;
    color: #fff;
    background: #545454;
    padding-left: 1rem;
}
/* for the disappearing links */
.navbar__links_media{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar__single_link_media{
    display: inline-block;

    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    transition: all 2s ease;
}
.navbar__single_link_media:hover{
    text-decoration: none;
    color: coral;
    padding-top: 0.6rem;
}

@media all and (max-width:520px){
    .header__btn{
        display: block;
    }
}

@media all and (max-width:520px){
    .navbar__links_media{
        display: none;
    }
}

@media all and (max-width:520px){
    .navbar__single_link{
        display: block;
    }
}

