:root {
  --primary-color: green;
}

.background:not(footer) {
  color: var(--primary-color);
  background-color: var(--primary-color);
}
.like-count-color {
  color: green;
}

.base-overflow {
  overflow-x: hidden;
}
/* for the message that gets print out on register page */
.white-color {
  color: #fff;
  text-align: center;
}

/* for the user welcome */
.white {
  color: #fff;
}

/* form design section */
.form-white {
  color: aliceblue;
}
/* for content text */
.text-content p:first-child {
  text-indent: 50px;
}

/* for the footer */
#footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  background-color: #222;
  padding: 30px;
  clear: both;
  height: 300px;
  width: 100%;
  color: #efefef;
}
#admin-info::after {
  content: "";
  display: block;
  background-color: #efefef;
  height: 2px;
  width: 150px;
}
#para-footer {
  padding-top: 48px;
}
