:root {
  --primary-color: green;
}

.background:not(footer) {
  color: var(--primary-color);
  background-color: var(--primary-color);
}
.like-count-color {
  color: green;
}
/* for the message that gets print out on register page */
.white-color {
  color: #fff;
  text-align: center;
}
/* for the user welcome */
.white {
  color: #fff;
}
/* form design section */
.form-white {
  color: aliceblue;
}
/* for content text */
.text-content p:first-child {
  text-indent: 50px;
}
