{% extends 'base.html' %}
{% load url_target_blank %}
{% load embed_video_tags %}

{% block content %}

{% include 'google_conversion.html' %}

<style>
  .scale-zoom:hover {
    transform: scale(1.1, 1.1);
    transition: all 2s ease-out;
  }
</style>


<div class="container-fluid">
  <div class="row shadow-sm p-3 jumbotron rounded">
    <div class="col-md-2"></div>

    <div class="col-md-8 shadow-md">
      <div class="card">
        <div class="card-header">{% block title %} {{ object.title }} {% endblock title %}</div>
        <div class="card-body">
          <h5 class="card-text background-gradient p-2 rounded-lg">

            <!-- For profile picture -->
            {% if post.author.profile.image %}
            <div class="media">
              <img src="{{ post.author.profile.image.url }}" alt="Profile-img" class="rounded-circle img-fluid mr-4"
                id="image-size" />
              {% endif %}
              <div class="media-body">
                <code>By:{{ post.author }}</code><br />
                <small class="text-secondary">{{ post.date_created }}</small>
                <br />

                {% if object.author == user %}
                <a href="{% url 'blog:post-update' slug=object.slug %}"
                  class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                <a href="{% url 'blog:post-delete' slug=object.slug %}"
                  class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                {% endif %}
              </div>
            </div>
          </h5>
          <hr />

          {{ post.content|safe |linebreaks |url_target_blank }}

          <!-- the image section -->
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="Does'nt Exis!" class="img-fluid
            rounded-lg scale-zoom mx-2 mt-3" />
          {% endif %}
          <!-- the image section ends here -->

          <!-- THE SHARE THIS SECTION -->
          <div class="sharethis-inline-reaction-buttons"></div>

        </div>

        <div style="height: auto; margin-bottom:30px;display:flex;justify-content:center;" class="scale-zoom">
          {% video object.url_video 'medium' %}
        </div>

        <!-- the below code belongs to comment -->
        <div class="container">
          {% for comment in post.my_comments.all %}
          {% if user.is_authenticated or comment.approved_comment %}
          <div class="card-body">
            <p class="card-header">
            <h6>{{ comment.added_date }}</h6>
            <h6>Author: {{ comment.author }}</h6>
            </p>
            <p class="card-text">{{ comment.body | linebreaks | urlizetrunc:30 }}</p>
            <!--safe prevents linebreaks-->
            <!-- the below goes for comment image -->
            {% if comment.comment_img %}
            <img src="{{ comment.comment_img.url }}" alt="Does'nt Exis!"
              class="img-fluid rounded-lg border border-success" />
            {% endif %}
            <!-- this section checks to approve comments -->
            {% if not comment.approved_comment %}
            <a href="{% url 'blog:comment-approve' page_id=comment.pk %}">
              <button type="button" class="btn btn-success">Ok</button>
            </a>
            <a href="{% url 'blog:comment-remove' page_id=comment.pk %}">
              <button type="button" class="btn btn-danger">Remove</button>
            </a>
            {% endif %}
            <!-- comments approval ends here -->
          </div>
          {% endif %}

          {% empty %}
          <div class="ml-3">
            <h5><i>NO COMMENT YET :(</i></h5>
            <h6>Be the first to comment here</h6>
          </div>
          {% endfor %}
          {% if user.is_authenticated %}
          <div class="ml-3">
            <a href="{% url 'blog:add-comment-to-post' post.pk %}">
              <button type="submit" class="btn btn-outline-info btn-sm">Add Comment</button>
            </a>
            <strong>({{ post.my_comments.count }})</strong>
          </div>
          <br />
          {% else %}
          <div class="ml-3 mb-3">
            <a href="{% url 'accounts:login' %}">
              <button type="submit" class="btn btn-outline-info btn-sm">Add Comment</button>
            </a>
            <strong>({{ post.my_comments.count }})</strong>
          </div>
          {% endif %}
        </div>

        <!-- This section belongs to the like button -->
        <div class="container pb-2 ml-3">
          {% if user.is_authenticated %}
          <form action="{% url 'blog:post-likes' pk=post.pk %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="like_id" value="{{ post.pk }}" />
            </div>
            {% if user not in post.liked.all %}
            <button type="submit" class="btn btn-primary"><i class="far fa-thumbs-up"></i></button>
            {% else %}
            <button type="submit" class="btn btn-danger"><i class="far fa-thumbs-down"></i></button>
            {% endif %}
            <strong class="white"><span class="like-count-color">({{ post.liked.count }})
              </span></strong>
          </form>
          {% else %}
          <a href="{% url 'accounts:login' %}">
            <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i></button></a>
          <strong class="white"><span class="like-count-color">({{ post.liked.count }})</span>
          </strong>
          {% endif %}

        </div>

        <!-- like button ends here -->
      </div>

    </div>
  </div>

</div>

<div class="col-md-8 pb-2 offset-2">
  <a href="{% url 'blog:post-list' %}" class="btn btn-primary">&laquo; Back</a>
</div>


{% include 'live_chat.html' %}

{% endblock content %}