{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<title>{% block title %} | New Post {% endblock title %}</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 bg-light shadow shadow-lg rounded pt-2 mb-3 mt-3">

            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Blog Post</legend>
                    {{ form.media}}
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                    <a href="/" class="btn btn-outline-info" type="submit">&laquo;</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}