{% extends 'base.html' %}
{% load url_target_blank  %}

{% load embed_video_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} | Advert page{% endblock title %}</title>
  {% include 'google_conversion.html' %}
  <!-- For FB Oauth -->
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '2824257444468967',
        cookie: true,
        xfbml: true,
        version: '8.0'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <style>
    .scale-zoom:hover {
      transform: scale(1.2, 1.2);
      transition: all 2s ease-out;
    }
  </style>
</head>

<body class="jumbotron">
  <!-- the search box -->
  <div class="container pt-2">

    <form action="{% url 'blog:search-query' %}" method="GET">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <label for="label"><span class="spinner-grow spinner-grow-sm"></span></label>
          </div>
          <input type="search" name="qs" id="label" placeholder="Search" required />
        </div>
      </div>
    </form>

    <!-- FOR THE SUB MENUS -->
    <ul class="nav bg-secondary rounded shadow-lg">
      <li class="nav-item">
        <a class="nav-link text-light active" href="{% url 'player:video-list' %}" title="Watch videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'player:audio-list' %}" title="Listen to music">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/amazon-store/store/" title="Visit our store">Store</a>
      </li>
    </ul>

  </div>


  <!-- main content -->
  <div class="container">
    <div class="row">

      {% for post in object_list %}
      <div class="col-lg-4 col-sm-6 portfolio-item p-1 my-4 shadow-md">

        <div class="card h-100 my-3 mb-5">

          <div class="card-body">
            <h5 class="card-title border border-light text-primary">
              <a href="{% url 'blog:post-detail' slug=post.slug %}"
                title="Click to read more about the post">{{ post.title }}</a>
            </h5>
            <p class="card-text">
              <small>{{ post.date_created }}</small>
            </p>

            {{ post.content|safe| slice:":100" |url_target_blank }}&raquo;

            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Does'nt Exis!" class="img-fluid rounded-lg scale-zoom mx-2" />
            <br><br>
            <hr>
            {% endif %}

            <a href=""></a>


            <div style="height: auto; margin-bottom:30px;display:flex;justify-content:center;" class="scale-zoom">
              {% video post.url_video '200 x 120' %}
            </div>

            <a href="{{ post.get_absolute_url }}" class="btn btn-info
            btn-sm">Read more</a>

            <!-- the below counts the comments in a post -->
            <a href="{% url 'blog:post-detail' slug=post.slug %}" title="Total approved comments"
              class="border border-secondary rounded-lg">Comments:({{ post.my_approved_comments.count }})
            </a>

            <div class="sharethis-inline-share-buttons"></div>

          </div>

        </div>

        <hr style="background-color: skyblue;" />

      </div>

      {% empty %}
      <h3>No Available Here.</h3>
      {% endfor %}

    </div>
  </div>
  <br><br><br>


  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-sm-4 portfolio-item p-1 my-4 shadow-lg">
        {% if user.is_authenticated %}

        <!-- This section goes fot User history -->
        <a href="{% url 'tracker:history-list' %}" title="About the user visited page history">User History</a>
        <br />
        <hr />
        <a href="/" class="btn btn-outline-primary btn-sm">Home page</a>
        <a href="{% url 'accounts:logout' %}" class="btn btn-outline-primary btn-sm">Logout</a>
        {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-success btn-sm">Login</a>
        <a href="{% url 'accounts:register' %}" class="btn btn-success btn-sm">Sign Up</a><br />
        <hr />

        <details>
          <summary>Social Login</summary>
          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-sm mt-2" style="width: 180px;">
            <i class="fab fa-facebook-f fa-fw"></i>Facebook Login
          </a><br />
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-sm mt-2" style="width: 180px;">
            <i class="fab fa-google fa-fw"></i> Google Login &nbsp;
          </a>
        </details>
        {% endif %}

      </div>


      <div class="col-lg-6 col-sm-4 portfolio-item p-1 my-4 shadow-lg">
        {% include 'sidebar_list.html' %}
      </div>


      <div class="col-lg-4 col-sm-4 portfolio-item p-1 my-4 shadow-sm">
        <!-- for convertKit email list -->
        <div style="z-index:-2;">
          <script async data-uid="d15840a258" src="https://awesome-innovator-8071.ck.page/d15840a258/index.js"></script>
        </div>
        <!-- convertKit ends here -->
      </div>

    </div>
  </div>


  <!-- Pagination section -->
  <div class=" container-fluid">

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-left">
        {% if object_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ object_list.previous_page_number }}" tabindex="-1"
            aria-disabled="true">&laquo;
            Prev</a>
        </li>
        {% endif %}

        {% for num  in object_list.paginator.page_range %}
        {% if object_list.number == num %}
        <li class="page-item"><a class="page-link" href="">{{ num }}</a></li>
        {% elif num > object_list.number|add:'-1' and num < object_list.number|add:'1' %}
        <li class="page-item"><a class="page-link" href="">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ object_list.next_page_number }}">Next &raquo;</a>
        </li>
        {% endif %}
      </ul>
    </nav>

  </div>


  <div class="container rounded-lg" id="animation">
    <marquee direction="rtl">
      <h3>
        <a class="nav-link" href="{% url 'reaction:reaction-list' %}"><i>Click Me!... We Love To Here Your
            Comment!</i></a>
      </h3>
    </marquee>
  </div>

  {% include 'live_chat.html' %}

  </div>

</body>

</html>

{% endblock content %}