{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5; blog/post-list/"> -->
    {% include 'google_conversion.html' %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'amazon_store/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'amazon_store/css/modern-business.css' %}" rel="stylesheet">

    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
        }

        #home-view-bg {
            background-color: lightgray;
            margin: 0;
        }

        #home-view-header {
            text-align: center;
            color: coral;
            background: #fff;
            padding: 1rem;
            border-radius: 5px;
            width: calc(100% - 0);
            margin: auto;
            margin-bottom: 20px;
        }

        #home-icon-links {
            text-decoration: none;
            display: flex;
            justify-content: center;
        }

        #home-icon-text {
            display: flex;
            justify-content: center;
        }

        #home-icon-links:hover {
            transform: scale(1.2, 1.2);
            transition: all 2s ease-out;
        }

        /* For the icon color */
        .youtube {
            color: red;
        }

        .home-icons {
            color: coral;
        }

        .home-house-icon {
            color: green;
        }

        .map-btn {
            margin: auto;
            margin-bottom: 20px;
            text-align: center;
        }

        .brige {
            width: 100%;
            height: 20px;
            background-color: #ccc;
        }

        #carousel-height {
            height: 10% !important;
            background-size: 100% 100% !important;
        }

        /* For carousel text */
        .smarty-hide-caption {
            z-index: 1;
        }
    </style>
</head>

<header id="home-view-header" class="shadow-lg">
    <h1>Welcome To MyWorldGist <i class="fas fa-globe"></i></h1>
</header>

<div class="container-fluid pt-2" id="home-view-bg">

    <section>
        <div class="row">
            <div class="col-lg-1"></div>

            <div class="col-lg-3 py-3 ml-4 shadow-lg">
                {% if user.is_authenticated %}

                {% if user.profile.image %}
                <div class="media">
                    <img src="{{ user.profile.image.url }}" alt="Profile-img" class="rounded-circle img-fluid mr-4"
                        id="image-size" />
                </div>
                {% endif %}
                <h4>Hello! {{ user.username }}</h4>

                <!-- This section goes fot User history -->
                <a href="{% url 'tracker:history-list' %}" title="About the user visited page history">User History</a>
                <br />
                <a href="{% url 'accounts:logout' %}" class="btn btn-outline-primary btn-sm">Logout</a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn-success btn-sm">Login</a>
                <a href="{% url 'accounts:register' %}" class="btn btn-success btn-sm">Sign Up</a>
                <br />

                <details>
                    <summary>Social Login</summary>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-sm mt-2"
                        style="width: 180px;">
                        <i class="fab fa-facebook-f fa-fw"></i>Facebook Login
                    </a><br />
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-sm mt-2"
                        style="width: 180px;">
                        <i class="fab fa-google fa-fw"></i> Google Login &nbsp;
                    </a>
                </details>

                {% endif %}
            </div>

            <div class="col-lg-6 shadow-md">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators smarty-hide-caption">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One - Set the background image for this slide in the line below -->
                        <div class="carousel-item active" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/slide-1.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Two - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/slide-2.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Three - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/slide-3.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Four - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/frontpage-1.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Five - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/frontpage-2.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Six - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/frontpage-3.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Seven - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/frontpage-4.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Slide Eight - Set the background image for this slide in the line below -->
                        <div class="carousel-item" id="carousel-height"
                            style="background-image: url('{% static 'amazon_store/images/frontpage-5.jpg' %}')">
                            <div class="carousel-caption d-md-block smarty-hide-caption">
                                <h2>Advertise With Us</h2>
                                <p>Contact the live chat for more info
                                    <a href="mailto:myworldgist@gmail.com? subject=This email belongs to Myworldgist"
                                        class="btn btn-outline-light" title="Click to send email">
                                        <i class="fas fa-envelope text-info"></i> Send Us an E-mail
                                    </a>
                                    <a href="/store/products/" title="Visit our store" class="btn btn-outline-info">
                                        Goto Store
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- For amazon recommendations -->
                <div class="col-lg-6">
                    <div id="amzn-assoc-ad-21123a9b-1660-419e-b658-47c068d57b96"></div>
                    <script async
                        src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=21123a9b-1660-419e-b658-47c068d57b96">
                        </script>

                </div>
                <!-- amazon recommendations end -->

            </div>
    </section>
    <hr />

    <!-- start first row -->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/blog/post-list/" id="home-icon-links" title="Go to the blog page"><i
                        class="fas fa-blog fa-7x"></i>
                </a>
                <h4 id="home-icon-text">Blog</h4>
            </div>

            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/store/products/" id="home-icon-links" class="home-house-icon"
                    title="Go to MyWorldGist store"><i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
                </a>
                <h4 id="home-icon-text">My Store</h4>
            </div>

            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/reaction/" id="home-icon-links" class="home-icons" title="Go to forum"><i
                        class="fab fa-forumbee fa-8x"></i></i>
                </a>
                <h4 id="home-icon-text">Page Forum</h4>
            </div>

            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/player/trending-vid/" id="home-icon-links" class="youtube" title="Go to trending videos"><i
                        class="fab fa-youtube fa-8x"></i>
                </a>
                <h4 id="home-icon-text">Trending Videos</h4>
            </div>

        </div>
    </div>
    <!-- end first row -->
    <br /><br />

    <!-- start second row -->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/player/video/popular/" id="home-icon-links" class="home-icons" title="Not ready!"><i
                        class="fas fa-video fa-8x"></i>
                </a>
                <h4 id="home-icon-text">Music Videos</h4>
            </div>

            {% if user.is_authenticated %}
            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/agent/agent/" id="home-icon-links" class="home-house-icon" title="Not ready!"><i
                        class="fas fa-house-user fa-6x"></i>
                </a>
                <h4 id="home-icon-text">Housing Agent</h4>
            </div>
            {% else %}
            <div class="col-lg-3 col-sm-6 my-2 p-3 shadow-lg">
                <a href="/agent/sign-up-first/" id="home-icon-links" class="home-house-icon" title="Not ready!"><i
                        class="fas fa-house-user fa-6x"></i>
                </a>
                <h4 id="home-icon-text">Housing Agent</h4>
            </div>
            {% endif %}

        </div>
    </div>
    <!-- end second row -->
    <hr />

    <section class="map-btn mt-5 shadow-md">
        <h4>GEOLOCATION</h4>

        <button class="btn btn-primary btn-sm mapbox-toggle-show mt-3">Hide Current Location Map & Show Google Map
            <i class="fas fa-map-marker-alt fa-2x"></i>
        </button>

        <button class="btn btn-danger btn-sm mapbox-toggle-hide mt-3" style="display:none;">
            Hide Google Map & Show Current Location Map
            <i class="fas fa-map-marker-alt fa-2x"></i>
        </button>
    </section>

    {% include 'live_chat.html' %}

    <div class="mapbox" style="display:none;">
        {% include 'google_map.html' %}
    </div>

    <div class="brige"></div>

    <div class="google-map">
        {% include 'map.html' %}
    </div>

</div>

<!-- FOR COOKIEBOT -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/de8d01fc-4746-4e0d-9c25-915dd5e528d7/cd.js"
    type="text/javascript" async></script>
<!-- End cookiebot -->

</html>

<!-- For the map toggle scripts -->
{% block extra_scripts %}
<script type="text/javascript">
    var mapBoxShowBtn = document.querySelector('.mapbox-toggle-show');
    var mapBoxHideBtn = document.querySelector('.mapbox-toggle-hide');

    mapBoxShowBtn.addEventListener('click', function () {
        if (this.click) {
            $('.mapbox').slideDown(1000);
            $('.google-map').slideUp(1000);
            $('.mapbox-toggle-hide').show(1000);
            $('.mapbox-toggle-show').hide(1000);
        };
    });

    mapBoxHideBtn.addEventListener('click', function () {
        if (this.click) {
            $('.mapbox').slideUp(1000);
            $('.google-map').slideDown(1000);
            $('.mapbox-toggle-hide').hide(1000);
            $('.mapbox-toggle-show').show(1000);
        };
    });

</script>
{% endblock extra_scripts %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'amazon_store/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'amazon_store/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock content %}